# Optional Activity
### Description

In [ ]:
#sample of optional activity?

# Class Inheritance

In [ ]:
#Soup, Salad and Order?

#Class
class Salad:
    '''
    Class to rep a salad
    '''
    def __init__(self, base, vegetables, protein = None): #to initialize my salad
        '''
        Initializer of my salad
        Inputs:
            base: str, 'lettuce or spinich' str
            vegetables: [vegetables]
            protein: str, 'chicen, beaf, salmon, tofu'
            None here means that if I don't specify protine no porblem: keward argument
        '''
        self.base = base
        self.vegetables = vegetables
        self.protein = protein

    def __repr__(self):
        '''
        Representation of salad, called when we want to print something
        '''
        string = "{} salad, with these vegetables: {}".format(self.base, self.vegetables)
        string += "and this protein: {}".format(self.protein)
        return string

    def calc_cost(self, base_cost, cost_per_veggie, cost_of_protein):
        total_cost = base_cost
        for veggie in self.vegetables:
            total_cost += cost_per_veggie
        if self.protein:
            total_cost += cost_of_protein
        return total_cost

    def add_vegetable(self, vegetable):
        '''
        Method to add a vegetable
        '''
        self.vegetables.append(vegetable)
        return self.vegetables


salad1 = Salad('lettuce', ['corn', 'broccoly'], 'chicken')
salad1.base  #tells us the base: lettuce #accessing base of the salad

salad1 #yup its there
    #main point can get the cost
salad1.calc_cost(10, 1, 15) #each one is a cost for each part

salad_veggie = Salad('lettuce', ['carrot', 'beans'])
salad_veggie.calc_cost(10, 2, 8) #8 not used bc no protien

salad_veggie.vegetables
#list of 2
salad_veggie.add_vegetable('Onion')
salad_veggie.vegetables
#lst of 3

#can create methods to do all kinds of stuff!


#self means that calc cost will be done on whatever x. is
#(the differetn inputs)

# Generator

Super interested? Check out a more throughout explanation here:
https://www.dataquest.io/blog/python-generators-tutorial/ 

The data is from the Chicago Health Atlas
https://www.chicagohealthatlas.org/indicators/college-graduation-or-more

In [4]:
#Code
import pandas as pd
import os

PATH = 'Documents/GitHub/Programming_Lab_4-28-20/'
FILE = 'city_wide_coll_grad_2017.csv'

def read_data(path, filename):
    if filename.endswith('.csv'):
        df = pd.read_csv(os.path.join(path, filename))
    elif filename.endswith('.xls') or filename.endswith('.xlsx'):
        df = pd.read_excel(os.path.join(path, filename))
    else:
        print('unexpected file type in read_data')
    return df


df = read_data(PATH, FILE)

In [5]:
df

,Unnamed: 0,Category,SubCategory,Indicator,Year,Geography,Geo_Group,Geo_ID,Demography,Demo_Group,...,Percent,Lower_95CI_Percent,Upper_95CI_Percent,Weight_Number,Weight_Percent,Lower_95CI_Weight_Percent,Upper_95CI_Weight_Percent,Map_Key,Flag,Crude_Rate_Standardized
0,0,Social and Economic Factors,Education,College graduation or more,2017,City,Chicago,606,Race-ethnicity,All race-ethnicities,...,38.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G,NaN
1,1,Social and Economic Factors,Education,College graduation or more,2017,City,Chicago,606,Gender,Male,...,37.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G,NaN
2,2,Social and Economic Factors,Education,College graduation or more,2017,City,Chicago,606,Gender,Female,...,39.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G,NaN
3,3,Social and Economic Factors,Education,College graduation or more,2017,City,Chicago,606,Race-ethnicity,African American or Black,...,21.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G,NaN
4,4,Social and Economic Factors,Education,College graduation or more,2017,City,Chicago,606,Race-ethnicity,Asian,...,62.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G,NaN
5,5,Social and Economic Factors,Education,College graduation or more,2017,City,Chicago,606,Race-ethnicity,Hispanic or Latino,...,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G,NaN
6,6,Social and Economic Factors,Education,College graduation or more,2017,City,Chicago,606,Race-ethnicity,Non-Hispanic White,...,62.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G,NaN

In [6]:
df.columns

Index(['Unnamed: 0', 'Category', 'SubCategory', 'Indicator', 'Year',
       'Geography', 'Geo_Group', 'Geo_ID', 'Demography', 'Demo_Group',
       'Number', 'Cum_Number', 'Ave_Annual_Number', 'Crude_Rate',
       'Lower_95CI_Crude_Rate', 'Upper_95CI_Crude_Rate', 'Age_Adj_Rate',
       'Lower_95CI_Age_Adj_Rate', 'Upper_95CI_Age_Adj_Rate', 'Percent',
       'Lower_95CI_Percent', 'Upper_95CI_Percent', 'Weight_Number',
       'Weight_Percent', 'Lower_95CI_Weight_Percent',
       'Upper_95CI_Weight_Percent', 'Map_Key', 'Flag',
       'Crude_Rate_Standardized'],
      dtype='object')

In [10]:
print(df['Demo_Group'][0], df['Percent'][0])

All race-ethnicities 38.8

In [22]:
for i in range(len(df)):
    print(df['Demo_Group'][i], df['Percent'][i])

All race-ethnicities 38.8
Male 37.6
Female 39.9
African American or Black 21.1
Asian  62.9
Hispanic or Latino 16.0
Non-Hispanic White 62.6

In [28]:
def gen_demog_perc(my_df):
    for i in range(len(my_df)):
        yield(df['Demo_Group'][i], df['Percent'][i])

get_demog_perc = gen_demog_perc(df)

In [29]:
next(get_demog_perc)

('All race-ethnicities', 38.8)

# Assert Statements

In [30]:
df['Percent']

0    38.8
1    37.6
2    39.9
3    21.1
4    62.9
5    16.0
6    62.6
Name: Percent, dtype: float64

In [36]:
x = 20.0
assert(x <100 and isinstance(x, float)), 'incorect value in Percent column'

In [40]:
def eval_percent(my_serise):
    #check input is what I expect
    for x in my_serise:
        assert(x <100 and isinstance(x, float)), 'incorect value in Percent column' 
    #then do a thing
    for x in my_serise:
        print(x)

In [41]:
eval_percent(df['Percent'])

38.8
37.6
39.9
21.1
62.9
16.0
62.6