# Optional Activity
#### Make a dice roller
Make a function that takes as input a integer for how many sides the dice has (e.g. a normal dice has 6 sides so input should be 6)
output should be an integer between 1 and the number of sides entered (so for input 6, 1-6) 
ideally this roller should be fair, so each number has equal probability, but that isn't neccesary
For extra add an assert statement to make sure input is an integer

# Python Style
Pep8:  
Check it out
https://www.python.org/dev/peps/pep-0008/

# A bit more on Classes and Inheritance

In [124]:
class Person(): 
       
    # Constructor 
    def __init__(self, name, pronoun, food, location, pet = None): 
        self.name = name 
        self.pronoun = pronoun
        self.food = food
        self.location = location
        self.pet = pet
    
    def __repr__(self):
        '''
        Representation of the class
        '''  
        string = "This is {}, {} favorite food is {} and {} lives in {}".format(self.name, self.pronoun[1], self.food, self.pronoun[0], self.location)
        return string
   
    def calc_rent(self, base_rent, location, pet_fee):
        total_cost = base_rent
        total_cost += location
        if self.pet:
            total_cost += pet_fee 
        return total_cost

In [125]:
person1 = Person('Kim', ['she','her'], 'pasta', 'LA')  # An Object of Person 
person1

This is Kim, her favorite food is pasta and she lives in LA

In [127]:
person1.calc_rent(1000,750,100)

1750

In [128]:
person2 = Person('Kelly', ['he','his'], 'guacamole', 'DC', 'cat')
person2

This is Kelly, his favorite food is guacamole and he lives in DC

In [129]:
person2.calc_rent(1000,500,50)

1550

In [130]:
 class Employee(Person): 
    def __init__(self, name, pronoun, food, location, emp_status, pet = None): 
        self.name = name 
        self.pronoun = pronoun
        self.food = food
        self.location = location
        self.emp_status = emp_status
        self.pet = pet
        
    def __repr__(self):
        '''
        Representation of the class
        '''  
        string = "{} is {} with this firm".format(self.name, self.emp_status)
        return string
 
    def calc_salary(self, base, bonus): 
        salary = base
        salary += bonus
        return salary

In [131]:
emp1 = Employee('Kim', ['she','her'], 'pasta', 'LA', 'employed') # An Object of Employee 
emp1

Kim is employed with this firm

In [132]:
emp1.calc_salary(80000,500)

80500

In [133]:
emp1.calc_rent(1000,10,10)

1010

In [134]:
#what's left:
salary = emp1.calc_salary(80000,500)
rent = emp1.calc_rent(1000,10,10) *12

salary - rent

68380

# Generator

Super interested? Check out a more throughout explanation here:
https://www.dataquest.io/blog/python-generators-tutorial/ 

The data is from the Chicago Health Atlas
https://www.chicagohealthatlas.org/indicators/college-graduation-or-more

In [141]:
#Code
import pandas as pd
import os

PATH = '/Users/Sarah/Documents/GitHub/Programming_Lab_4-28-20/'
FILE = 'city_wide_coll_grad_2017.csv'

def read_data(path, filename):
    if filename.endswith('.csv'):
        df = pd.read_csv(os.path.join(path, filename))
    elif filename.endswith('.xls') or filename.endswith('.xlsx'):
        df = pd.read_excel(os.path.join(path, filename))
    else:
        print('unexpected file type in read_data')
    return df


df = read_data(PATH, FILE)

In [142]:
df

,Unnamed: 0,Category,SubCategory,Indicator,Year,Geography,Geo_Group,Geo_ID,Demography,Demo_Group,...,Percent,Lower_95CI_Percent,Upper_95CI_Percent,Weight_Number,Weight_Percent,Lower_95CI_Weight_Percent,Upper_95CI_Weight_Percent,Map_Key,Flag,Crude_Rate_Standardized
0,0,Social and Economic Factors,Education,College graduation or more,2017,City,Chicago,606,Race-ethnicity,All race-ethnicities,...,38.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G,NaN
1,1,Social and Economic Factors,Education,College graduation or more,2017,City,Chicago,606,Gender,Male,...,37.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G,NaN
2,2,Social and Economic Factors,Education,College graduation or more,2017,City,Chicago,606,Gender,Female,...,39.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G,NaN
3,3,Social and Economic Factors,Education,College graduation or more,2017,City,Chicago,606,Race-ethnicity,African American or Black,...,21.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G,NaN
4,4,Social and Economic Factors,Education,College graduation or more,2017,City,Chicago,606,Race-ethnicity,Asian,...,62.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G,NaN
5,5,Social and Economic Factors,Education,College graduation or more,2017,City,Chicago,606,Race-ethnicity,Hispanic or Latino,...,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G,NaN
6,6,Social and Economic Factors,Education,College graduation or more,2017,City,Chicago,606,Race-ethnicity,Non-Hispanic White,...,62.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G,NaN

In [143]:
df.columns

Index(['Unnamed: 0', 'Category', 'SubCategory', 'Indicator', 'Year',
       'Geography', 'Geo_Group', 'Geo_ID', 'Demography', 'Demo_Group',
       'Number', 'Cum_Number', 'Ave_Annual_Number', 'Crude_Rate',
       'Lower_95CI_Crude_Rate', 'Upper_95CI_Crude_Rate', 'Age_Adj_Rate',
       'Lower_95CI_Age_Adj_Rate', 'Upper_95CI_Age_Adj_Rate', 'Percent',
       'Lower_95CI_Percent', 'Upper_95CI_Percent', 'Weight_Number',
       'Weight_Percent', 'Lower_95CI_Weight_Percent',
       'Upper_95CI_Weight_Percent', 'Map_Key', 'Flag',
       'Crude_Rate_Standardized'],
      dtype='object')

In [144]:
print(df['Demo_Group'][0], df['Percent'][0])

All race-ethnicities 38.8

In [145]:
for i in range(len(df)):
    print(df['Demo_Group'][i], df['Percent'][i])

All race-ethnicities 38.8
Male 37.6
Female 39.9
African American or Black 21.1
Asian  62.9
Hispanic or Latino 16.0
Non-Hispanic White 62.6

In [146]:
def gen_demog_perc(my_df):
    for i in range(len(my_df)):
        yield(df['Demo_Group'][i], df['Percent'][i])

get_demog_perc = gen_demog_perc(df)

In [149]:
next(get_demog_perc)

('Female', 39.9)

# Assert Statements

In [150]:
df['Percent']

0    38.8
1    37.6
2    39.9
3    21.1
4    62.9
5    16.0
6    62.6
Name: Percent, dtype: float64

In [154]:
x = 20.0
assert(x <=100 and isinstance(x, float)), 'incorect value in Percent column'

In [155]:
def eval_percent(my_serise):
    #check input is what I expect
    for x in my_serise:
        assert(x <=100 and isinstance(x, float)), 'incorect value in Percent column' 
    #then do a thing
    for x in my_serise:
        print(x)

In [156]:
eval_percent(df['Percent'])

38.8
37.6
39.9
21.1
62.9
16.0
62.6

In [157]:
eval_percent(['hi','by','why'])

TypeError: '<=' not supported between instances of 'str' and 'int'